
.primecard{
    width: 4000px;
    background-color:rgb(46, 45, 45);
    display: inline-flex;
    margin-left: 20px;
}


.fotocard1{
    width: 500px;
    height: 800px;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Green_woods_near_Brohm_Lake_%28Unsplash%29.jpg/1367px-Green_woods_near_Brohm_Lake_%28Unsplash%29.jpg);
    background-size: cover;

}

.fotocard1 h1{
width: 200px;
height: 50px;
background-color: rgba(128, 128, 128, 0.308);
color: white;
text-align: center;
display: inline-block;
padding: 10px;
margin-left: 250px;
margin-top: 100px;
}

.fotocard1 h3{
    width: 300px;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    margin-left: 100px;
    
}

.fotocard2{
    width: 500px;
    height: 800px;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 30px;
    background-image: url(https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;

}

.fotocard2 h1{
width: 200px;
height: 50px;
background-color: rgba(128, 128, 128, 0.308);
color: rgb(1, 65, 1);
text-align: center;
display: inline-block;
padding: 10px;
margin-top: 350px;
margin-left: 150px;
border-radius: 30px;
border:2px solid rgb(0, 65, 0);

}



.fotocard3{
    width: 500px;
    height: 800px;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Green_woods_near_Brohm_Lake_%28Unsplash%29.jpg/1367px-Green_woods_near_Brohm_Lake_%28Unsplash%29.jpg);
    background-size: cover;

}

.fotocard3 h1{
width: 200px;
height: 50px;
background-color: rgba(128, 128, 128, 0.308);
color: white;
text-align: center;
display: inline-block;
padding: 10px;
margin-left: 250px;
margin-top: 100px;
}

.fotocard3 h3{
    width: 300px;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    margin-left: 100px;
    
}